@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.0;
}

a{
  text-decoration: none;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 0px 0px;
  }

  .weatherImg{
    width: 180px;
  }
  
  .nextDayImg{
    width: 80px;
  }

  
  .card {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 15px;
    margin: 10px 0px;
    width: 100%;
    height: fit-content;
    
    
    padding: '700px';
  }
  table{display:grid;
justify-content: center;}
  td{padding:1.5em;}

  .dailyData{
    font-size: small;
    display:inline-block;
    list-style-type: none;
    width: 85%;
    height: fit-content;
    overflow-y: visible;
    overflow-x:hidden;
    margin-left: 5%;
    margin-top:5%;
    background-color: transparent;

    
  white-space: nowrap;
  }
  .dailyDataItem{
    
    display:inline-block;
   
  }

  .dailyDataItem:not(:first-child) {
    margin-left: 8%;
  }

  .dailyDataItem:first-child {
    margin-left: -8%;
  }

  /* Media query for smaller screens */
@media (max-width: 600px) {
   
    .row1 {
      display: block;
      text-align: center; }
      .row2 {
        display: block;
        text-align: center; 
      }
    .row3 {
      display: block;
      text-align: center; 
    }
  }